.base_build:
  image: maven:3.9.6-eclipse-temurin-17
  services:
    - docker:24.0.7-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_DRIVER: overlay2
    MAVEN_OPTS: "-Dmaven.artifact.threads=8 -Dmaven.test.failure.ignore=true"
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

base_job_configuration:
  image: maven:3.9.6-eclipse-temurin-17
  services:
    - docker:24.0.7-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_DRIVER: overlay2
    MAVEN_OPTS: "-Dmaven.artifact.threads=8 -Dmaven.test.failure.ignore=true"
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

stages:
  - build
  - test
  - package
  - deploy

build:
  extends: .base_build
  stage: build
  script:
    - mvn clean compile
  artifacts:
    paths:
      - target/*.jar
    expire_in: 1 hour

unit-test:
  extends: .base_build
  stage: test
  script:
    - mvn test
  coverage: '/TOTAL.*?([0-9]{1,3}\.?[0-9]*)%/'

integration-test:
  extends: .base_build
  stage: test
  script:
    - mvn verify -Dskip.unit.tests

package:
  image: docker:24.0.7
  stage: package
  needs:
    - job: build
      artifacts: true
  script:
    - docker build -t $CI_REGISTRY_IMAGE:latest -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA .
    - docker push $CI_REGISTRY_IMAGE:latest
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA

# Kubernetes deployment jobs
.deploy-k8s-base:
  image: alpine:latest
  services:
    - docker:24.0.7-dind
  before_script:
    - apk add --no-cache curl jq openssl
    - curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
    - install kubectl /usr/local/bin/kubectl
    - chmod +x /usr/local/bin/kubectl
    - apk add --no-cache helm
    - echo "$KUBE_CONFIG" | base64 -d > $HOME/.kube/config

# Dev environment deployment
deploy-dev:
  extends: .deploy-k8s-base
  stage: deploy
  environment:
    name: dev
    url: http://dev.educationplatform.example.com
  only:
    - main
  script:
    - kubectl config current-context
    - kubectl get nodes
    - helm repo add educationplatform $CI_PROJECT_DIR/helm/educationplatform
    - helm upgrade --install educationplatform-dev $CI_PROJECT_DIR/helm/educationplatform \
        --namespace educationplatform-dev --create-namespace \
        --set image.repository=$CI_REGISTRY_IMAGE \
        --set image.tag=$CI_COMMIT_SHA \
        --set env.SPRING_PROFILES_ACTIVE=dev \
        --set postgresql.enabled=true

# Staging environment deployment
deploy-staging:
  extends: .deploy-k8s-base
  stage: deploy
  environment:
    name: staging
    url: http://staging.educationplatform.example.com
  only:
    - main
  script:
    - kubectl config current-context
    - helm upgrade --install educationplatform-staging $CI_PROJECT_DIR/helm/educationplatform \
        --namespace educationplatform-staging --create-namespace \
        --set image.repository=$CI_REGISTRY_IMAGE \
        --set image.tag=$CI_COMMIT_SHA \
        --set replicaCount=3 \
        --set env.SPRING_PROFILES_ACTIVE=staging \
        --set postgresql.enabled=true
  when: manual

# Production environment deployment
deploy-prod:
  extends: .deploy-k8s-base
  stage: deploy
  environment:
    name: prod
    url: http://educationplatform.example.com
  only:
    - main
  script:
    - kubectl config current-context
    - helm upgrade --install educationplatform-prod $CI_PROJECT_DIR/helm/educationplatform \
        --namespace educationplatform-prod --create-namespace \
        --set image.repository=$CI_REGISTRY_IMAGE \
        --set image.tag=$CI_COMMIT_SHA \
        --set replicaCount=5 \
        --set env.SPRING_PROFILES_ACTIVE=prod \
        --set resources.requests.memory=1Gi \
        --set resources.limits.memory=2Gi \
        --set postgresql.enabled=true
  when: manual
  rules:
    - if: $CI_COMMIT_TAG
    - if: $DEPLOY_TO_PROD
