replicaCount: 2

image:
  repository: localhost:5000/educationplatform
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  hosts:
    - host: education.local
      paths:
        - path: /
          pathType: Prefix

postgresql:
  enabled: true
  imageTag: "14"
  postgresqlUsername: "postgres"
  postgresqlPassword: "your_password"
  postgresqlDatabase: "education_db"
  service:
    port: 5432

env:
  SPRING_PROFILES_ACTIVE: "k8s"
  SPRING_DATASOURCE_URL: "jdbc:postgresql://educationplatform-postgresql:5432/education_db"
  SPRING_DATASOURCE_USERNAME: "postgres"
  SPRING_DATASOURCE_PASSWORD: "your_password"

resources:
  requests:
    memory: "512Mi"
    cpu: "250m"
  limits:
    memory: "1Gi"
    cpu: "500m"

livenessProbe:
  httpGet:
    path: /actuator/health
    port: 8080
  initialDelaySeconds: 120
  periodSeconds: 30

readinessProbe:
  httpGet:
    path: /actuator/health
    port: 8080
  initialDelaySeconds: 30
  periodSeconds: 15
